#enlaces {
    align-items: center;
    text-decoration: none;
}

#enlaces a {
    text-decoration: none;
}

#formacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}