* {
    font-family: Helvetica;
}

#header img {
    border-radius: 25%;
}

#enlaces {
    align-items: center;
    text-decoration: none;
}

#enlaces a {
    text-decoration: none;
}

#formacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experiencia_laboral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-family: monospace;
}

h1 {
    padding: 0% 0% 2% 
}
ul {
    padding: 0
}

header {
    padding: 0% 0% 2%;
}

body {
    padding: 2% 20% 10%;
}

h3 {
    font-weight: bold;
    margin: 0;
}

h4 {
    font-weight: normal;
    color: rgb(48, 48, 48);
    margin: 0;
}

p {
    color: rgb(116, 116, 116);
}